.miclase {

  
  background-color: #eeeeee;
  background-image:url(../Content/fondo.png);
  background-size:100%;
  background-position-x:center;
  background-position-y:center;
  height: 450px;
  width: 100%;
  background-repeat:no-repeat;
  margin-top:65px;

}



.micontainer  {
  background-image:url(../Content/map-image.png);
  border-bottom-color:#cdd3f1;
  height: 600px;
  width:100%;
  color: inherit;
  background-color: #17375e;
  background-position-x:center;
  background-position-y:center;
}

.miboton {

  margin: 30px auto;
  background-color: #000000;
  font-family:Calibri;
  font-weight:900;
  color:#ffffff;
  height:70px;
  width:250px;
}

.titulo {
 
  color: #ffffff;
  margin-bottom: 50px;

}

.subtitulo {
 
  color: #ffffff;
  margin-bottom:40px;
}


.caja {

    margin-top:25px;
    margin-bottom: 25px;
    

} 

input.caja {
    
    margin-left:auto;
    margin-right:0px;
    max-width:80%;
    height: 60px;

}

textarea.supercaja {

  max-width: 80%;
  min-height:230px;
  
}

.barra {
    margin-bottom:0px;
    min-height:65px;

}
